---
import { setURL } from '../../../data/constants';
import BuyOrApplyFree from '../../global/BuyOrApplyFree.astro';
import CardAcp from '../CardAcp.astro';


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;


const Acp_data= strapiData['pageData']['data']['pageHome']['data']['attributes']['InstallSteps'];
const acp_ACPParagraph= strapiData['pageData']['data']['pageHome']['data']['attributes']['ACPParagraph'];
const acp_Media= strapiData['pageData']['data']['pageHome']['data']['attributes']['ACPParagraph']['Media']['data']['attributes'];
const acp_Botones= strapiData['pageData']['data']['pageHome']['data']['attributes']['ACPParagraph']['Buttons']

const headings= acp_ACPParagraph['Headings'][0].Heading;
const textblock= acp_ACPParagraph.Textblock;



---

<section id="acp">
	
   <div class="row-acp">

     <!--   <p class="title">
        We are an 
        <span class="acp"> ACP </span> 
        Provider!
        </p> -->

        <p class="title">{headings}</p>

   </div>
   
    <p class="description">
        {textblock}
<!--         <span style="display: inline-block; font-weight: 500" >UWIFI Plan.</span> -->
    </p>

   
    <div class="fila-fc">
        <div class="columnas-fc">
            <span class="purple-ball-blured"></span>
            <img alt={acp_Media.alternativeText} class="fc-logo" loading="lazy" src=`${setURL(acp_Media.url)}`>
            <div class="fc-info">
                <p>AFFORDABLE</p>
                <p>CONNECTIVITY</p>
                <p>PROGRAM</p>
            </div>
        </div>
    </div>

      
    <BuyOrApplyFree buttonText1={acp_Botones[0].Text} buttonLink1={acp_Botones[0].Link} buttonText2={acp_Botones[1].Text} buttonLink2={acp_Botones[1].Link}/>

    <div class="main-enroll-active-use">
       
        {
            Acp_data.map((Item: any) => (
                <CardAcp titulo={Item.Title} descripcion={Item.Content} icono_url={setURL(Item.Icon.data.attributes.url)}/>
            ))
        }
      


    </div>
        
    </section>






<style>
    svg{
        width: clamp(50px, 20vw, 80px);
        height: clamp(50px, 20vh, 80px);
    }
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    .texto-or{
			font-size: clamp(10px, 20vw, 24px);
		}	
    .main-enroll-active-use{
        display:flex;
        flex-direction: row;
        flex-grow: 1;
        justify-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: clamp(0px, 10vw, 20px);
        padding: clamp(0px, 10vw, 20px);
        margin-top: 50px;
    }


   	.purple-ball-blured{
        top: -25;
		left: 30%;
		position: absolute;
        width: clamp(200px, 50vw, 600px);
		height: clamp(200px, 50vw, 600px);
		border-radius: 100%;
        background: linear-gradient(#5746E5 20%, #48099f 40%);
		filter: blur(100px);
		z-index: -1;
	
	}
    section{
        
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            padding-top: 5vh;
            margin-bottom: 100px;
            width: 100%;
            gap:2rem;
            padding: clamp(0px, 10vw, 100px);
        }

        .row-acp{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    
    
            .fila-fc{
                position:relative;
                display: flex;
                flex-direction: row;
              
                align-items: center;
                align-content: center;
                justify-content: center;
             
                width: 100%;
                padding: 50px;
                
            }
            .columnas-fc{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: clamp(0px, 2vw, 40px);
            }
            .fc-info{
                display: flex;
                flex-direction: column;
                align-items: right;
                align-content: right;
                justify-content: space-between;
                color: var(--primary-text-color);
                font-size: clamp(0.5rem, 5vw, 2rem);
                font-weight: 800;
                text-align: left;
            
            }
            .fc-logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
                height: clamp(50px, 20vw, 200px);
                width: clamp(50px, 20vw, 250px);
              
            
            }
    
        .title, .acp{
               
                color:var(--primary-text-color);
                font-size: clamp(1rem, 20vw, 90px);
                font-weight: 400;
                text-align: center;
               
                line-height: 1;
                list-style: none;
                }
                .acp{
                    color: var(--secondary-color);
               
                }
         
            
                .description {
                  color: var(--primary-text-color);
                  font-weight: 100;
                  font-size: clamp(1rem, 8vw, 1.8rem);
                  justify-content: center;
                  text-align: center;
                  font-family: var(--font-family-secondary);
                  margin-bottom:40px;
                }
        
      
    @media (max-width: 768px) {
        .main-enroll-active-use{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 100px;
        }
    }
    
    @media (max-width: 450px) {
    
        .main-enroll-active-use{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: clamp(50px, 80vw, 450px);
            gap: 2rem;
            padiding: 0px;
        }
        .botones {
				flex-direction: column;
				align-items: center;
				bottom: 5%;
				
		
				}
    }
    @media  screen and (height< 450px) {
				section{
		
					padding-top: clamp(200px, 50vh, 400px);
					margin-bottom: clamp(200px, 50vh, 300px);
				}
				.botones {
				flex-direction: column;
				align-items: center;
				bottom: 5%;
				
		
				}
			}
      
    </style>

