---
import 'keen-slider/keen-slider.min.css'
const carouselHeight="h-[90vh]";

import Paragraph from '../../global/Paragraph.astro';


---

<main class={`flex items-center justify-center relative`}>
    
    <!-- Aquí es donde realmente se define el tamaño. Altura: 80 vh -->
    <section class={`w-full ${carouselHeight}`}>
        <!-- Desktop Version -->
        <div
            id="slider-wrapper"
            class="w-full flex h-full"
        >
            <!-- Video Slider -->
            <div
            id="image-slider"
            class="w-full absolute"
            >
                <!-- For Sizing -->
                <!-- To set the size of the Image Slider, because it works via 'position: absolute;' -->
                <div>
                    <div
                        class={`w-full ${carouselHeight} -z-10 object-cover bg-black`}
                    />
                </div>

                <!-- Image Slider Items -->
                <!-- Image 1 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full justify-center "
                >
                    <div class="overflow-hidden">
                        <video autoplay muted loop 
                            class={`w-full object-cover ${carouselHeight}`}
                            src="/videos/Slide01.mp4"
                        />
                    </div>
                </div>

                <!-- Image 2 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full justify-center opacity-0"
                >
                    <div class=" overflow-hidden">
                        <video autoplay muted loop 
                            class={`w-full object-cover ${carouselHeight}`}
                            src="/videos/Slide02.mp4"
                        />
                    </div>
                </div>

                <!-- Image 3 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full  justify-center opacity-0"
                >
                    <div class=" overflow-hidden">
                        <video autoplay muted loop 
                        class={`w-full object-cover ${carouselHeight}`}
                        src="/videos/Slide03.mp4"
                    />
                    </div>
                </div>

                <!-- Image 4 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full  justify-center opacity-0"
                >
                    <div class=" overflow-hidden">
                        <video autoplay muted loop 
                        class={`w-full object-cover ${carouselHeight}`}
                        src="/videos/Slide04.mp4"
                    />
                    </div>
                </div>
            </div>

            <!-- Text Slider -->
            <div id="text-slider" class="keen-slider absolute bg-[#080514]/60">
                <!-- Text Slider Items -->
                <!-- Text 1 -->
                <div
                    class="keen-slider__slide h-full w-full flex flex-col justify-center"
                >
                    <Paragraph textBlock='' headings={[{"Heading":"## **Ready for** <br> the new U."}]} centerContent={true}/>
                </div>

                <!-- Text 2 -->
                <div
                    class="keen-slider__slide h-full w-full flex flex-col justify-center"
                >
                <Paragraph textBlock='' headings={[{"Heading":"## **It's all** <br> about U."}]} centerContent={true}/>
                </div>

                <!-- Text 3 -->
                <div
                    class="keen-slider__slide h-full w-full flex flex-col justify-center"
                >
                <Paragraph textBlock='' headings={[{"Heading":"## Connect with the ones <br> **U care about**"}]} centerContent={true}/>
                </div>

                <!-- Text 4 -->
                <div
                    class="keen-slider__slide h-full w-full flex flex-col justify-center"
                >
                <Paragraph textBlock='' headings={[{"Heading":"## Always on <br> **dual connections.**"}]} centerContent={true}/>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    import KeenSlider from "keen-slider";
    
document.addEventListener("DOMContentLoaded", async function () {
    // Params
    const animationDuration = 2500;
    const autoplayDelay = 5000;

    // UI
    const sectionWrapper = document.querySelector("#slider-wrapper");

    // Image Slider
    const imageSlider = new KeenSlider(
        "#image-slider",
        {
            loop: true,
            defaultAnimation: {
                duration: animationDuration,
            },
            detailsChanged: (s: any) => {
                s.slides.forEach((element: any, idx: any) => {
                element.style.opacity = s.track.details.slides[idx].portion;
                });
            },
            renderMode: "custom",
        },
        [
            (slider: any) => {
                let timeout: any;
                let mouseOver = false;
                function clearNextTimeout() {
                clearTimeout(timeout);
                }
                function nextTimeout() {
                clearTimeout(timeout);
                if (mouseOver) return;
                timeout = setTimeout(() => {
                    slider.next();
                }, (autoplayDelay));
                }
                slider.on("created", () => {
                slider.container.addEventListener("mouseover", () => {
                    mouseOver = true;
                    clearNextTimeout();
                });
                slider.container.addEventListener("mouseout", () => {
                    mouseOver = false;
                    nextTimeout();
                });
                nextTimeout();
                });
                slider.on("dragStarted", clearNextTimeout);
                slider.on("animationEnded", nextTimeout);
                slider.on("updated", nextTimeout);
            },
        ]
    );

    // Text Slider
    const textSlider = new KeenSlider(
        "#text-slider",
        {
            defaultAnimation: {
                duration: (animationDuration),
            },
            loop: true,
            slides: {
                origin: "center",
                perView: 1
            },
            vertical: true,
            detailsChanged: (s: any) => {
                const slides = s.track.details.slides;
               
            },
            initial: 0,
        },
        [SyncSlidersPlugin(imageSlider)]
    );


    // Sync sliders
    function SyncSlidersPlugin(secondSlider: any) {
        return (firstSlider: any) => {
        firstSlider.on("created", () => {
            // Sync
            secondSlider.on("slideChanged", (secondSlider: any) => {
                const nextId = secondSlider.track.details.rel;

                firstSlider.moveToIdx(nextId);
            });

            firstSlider.on("slideChanged", (firstSlider: any) => {
                const nextId = firstSlider.track.details.rel;

                secondSlider.moveToIdx(nextId);
            });

            // Click on Wrapper
            sectionWrapper && sectionWrapper.addEventListener("click", () => {
                firstSlider.next();
            });
        });
        };
    }
});
</script>