---

import { setURL } from "../../../data/constants";
import BuyOrApplyFree from "../../global/BuyOrApplyFree.astro";


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;


const hero1Seccion_Buttons = strapiData['pageData']['data']['pageHome']['data']['attributes']['HeroButtons'];
const hero1Seccion_Videos = strapiData['pageData']['data']['pageHome']['data']['attributes']['HeroVideo']['data'];

---
<section id="home">
	 <video class="block md:hidden" autoplay muted loop id="myVideo" transition:persist>
		<source src=`${setURL(hero1Seccion_Videos[1].attributes.url)}`  type="video/mp4">
	</video>
	<video class="hidden md:block" autoplay muted loop id="myVideoMobile" transition:persist>
		<source src=`${setURL(hero1Seccion_Videos[0].attributes.url)}` type="video/mp4">
	</video>

<div class="botones-back-column w-full flex place-content-center">
	<div class="botones-back  rounded-full bg-black/40 backdrop-blur-lg">
		<BuyOrApplyFree
			buttonText1={hero1Seccion_Buttons[0].Text}
			buttonLink1={hero1Seccion_Buttons[0].Link}
			buttonText2={hero1Seccion_Buttons[1].Text}
			buttonLink2={hero1Seccion_Buttons[1].Link}
		/>
	</div>

</div>


	
</section>
		  
	<style>

		section{
		
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			flex: 1;
			margin-top: 80px;
			width: 100vw;
			height: 80vh;
		}
		.botones-back-column{
			display: flex;
			align-items: center;
		
        	
		
		
		}
		.botones-back{
			flex-direction: row;
			display: flex;
			align-items: center;
			padding: 16px;
			margin-bottom: clamp(10px, 2vw, 80px);
		
		}
		.texto-or{
			font-size: clamp(10px, 20vw, 24px);
		}	
		#myVideo, #myVideoMobile {
		position: absolute;
       
		width: 100vw;
        height: 100%;
		object-fit: cover;
		z-index: -1;
		}
		main{
			padding-left: clamp(0px, 5vw, 100px);
			padding-right: clamp(0px, 5vw, 100px);
		}

	
			@media (max-width: 768px) {
				.botones {
				flex-direction: column;
				align-items: center;
				bottom: 5%;
				gap: clamp(4px, 15vw, 20px);
		
				}
		
			}
	
	
 </style>