---
import BlurryBall from '../../global/BlurryBall.astro';
import Paragraph from '../../global/Paragraph.astro';
import PricingTableGroup from '../PricingTableGroup.astro';
import TarjetaPaqueteEspecial from '../TarjetaPaqueteEspecial.astro';


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;

const sectionData = strapiData['pageData']['data']['pageHome']['data']['attributes'];

const paragraphData= sectionData['PricingParagraph'];
const tablesData = sectionData['PricingTable'];
const buttons= sectionData['PricingButtons'];

---
<div class="flex flex-col">

<section id="pricingTables" class="w-full flex md:flex-row flex-col items-center justify-center px-10 gap-4 relative">
  <!-- <BlurryBall position="md:top-[200px] top-[300px] start-[100px] opacity-50" background='primaryColor'/> -->
  <BlurryBall position="end-[300px] top-[350px]" background='secondaryColor' size="400px"/>
  <BlurryBall position="bottom-[-100px] start-[-100px]" background='primaryColor' size="200px" blur="150px"/>

  <Paragraph headings={paragraphData.Headings} textBlock={paragraphData.Textblock} centerHeadings={false} removeHorMargin={true} removeVerMargin={true}/>
  
  {tablesData.map((table: any, index: any) => (  
    <PricingTableGroup Description={table.Description} Title={table.Subtitle} Features={table.Features} PricingButtons={buttons} isFeatured={index==0}/>
 ))}

			
</section>


</div>