---
import BlurryBall from '../../global/BlurryBall.astro';
import Paragraph from '../../global/Paragraph.astro';
import TarjetaPaqueteEspecial from '../TarjetaPaqueteEspecial.astro';


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;
const paragraphData= strapiData['pageData']['data']['pageHome']['data']['attributes']['PricingParagraph'];
const tableData= strapiData['pageData']['data']['pageHome']['data']['attributes']['PricingTable'];

console.log(paragraphData.Buttons)

---
<section id="plan" class="relative">
  <BlurryBall position="top-[0px] start-[200px]" background='var(--secondary-color)' size="400px"/>
  <Paragraph headings={paragraphData.Headings} textBlock={paragraphData.Textblock} textAtLeft={false} buttons={paragraphData.Buttons}>
    <TarjetaPaqueteEspecial title={tableData.Title} Subtitle={tableData.Subtitle} Price={tableData.Price} Pricetime={tableData.Pricetime} Features={tableData.Features} Buttons={tableData.Buttons}/>
  </Paragraph>
</section>