---
import {getPageData} from '../../../services/graphql';
import * as SelfServiceData from '../../../data/queries/FootQuerys';

import { setURL } from '../../../data/constants';

const currentYear  = new Date().getFullYear();

const data = await getPageData(SelfServiceData.GetFootFull());
const footerData = data.pageData.data.generalFooter.data.attributes;
const slogan = footerData.Slogan;
const caption = footerData.Caption.replace('[year]', currentYear.toString());
const topButton = footerData.Button;
const menu = footerData.TextButton;
const socialMedia = footerData.SocialMedia;
---
<footer>
    <div class="flex flex-wrap md:rounded-full rounded-[20px] bg-white/5 m-5 px-3 py-1 items-center md:justify-between justify-center gap-3">
        <div class="flex flex-row md:gap-2 gap-4">
            {
            socialMedia.map((button: any, index: number) => (
                <a href={button.Link} target="_blank">
                    <img class="bg-black/10 w-[35px] h-[35px] rounded-full p-2 invert border border-black/20" src={setURL(button.Icon.data.attributes.url)}>  
                </a>
            ))
            }
        </div>
        <p class="font-light text-[12px] text-white/40">{caption}</p>
        <div class="pl-5 py-2 gap-2 flex inline-flex items-center">
            <a href="#" class=" tracking-[-0.25px] font-semibold">
                {topButton.Text}
            </a>
            <img class="w-[30px] h-[30px] rounded-full p-1 bg-white motion-safe:animate-[bounce_2s_ease-in-out_infinite] " src={setURL(topButton.Icon.data.attributes.url)}>     
        </div>
    </div>
</footer>