---

import {getPageData} from '../../../services/graphql';
import * as PartnersData from '../../../data/queries/PartnersQuery';
import BlurryBall from '../../../components/global/BlurryBall.astro';
import Paragraph from '../../../components/global/Paragraph.astro';
// import DividerTitle from '../../../components/global/DividerTitle.astro';
// import Markdown from '../../../components/global/Markdown.astro';
// import BubbleImgButton from '../../../components/global/BubbleImgButton.astro';
import Layout from '../../../layouts/Layout.astro';
import { setURL } from '../../../data/constants';

const data = await getPageData(PartnersData.partnersQuery());

const pageData = data['pageData']['data']['pagePartner']['data']['attributes'];
const paragraphData = pageData.HeaderParagraph;
const partnersData = data['pageData']['data']['partnerCategories']['data'];

const dataLayout = data.layoutData;
const seoData = pageData.SEO;

const imgTemp= partnersData[0].attributes.partners.data[0].attributes.Logo;
console.log("Esto debería ser la imagen: ",imgTemp);
---

<Layout seoData={seoData} dataLayout={dataLayout}>
    <div class=" py-[80px] relative">
        <BlurryBall position="top-[200px] start-[150px]" size="350px" blur='200px'/>
	    <Paragraph headings={[{'Heading':"## **Unlocking healthcare** solutions for"}]} textBlock={paragraphData.Textblock} removeVerMargin={true}>
            <div class="rounded-full bg-gradient-to-b from-primaryColor to-secondaryColor">
                <div class="rounded-full flex flex-col gap-8 p-8 bg-primaryColor m-8">
                <div class="flex flex-col items-center justify-center rounded-full md:h-[150px] md:w-[150px] h-[100px] w-[100px] bg-white p-5">
                    <img
                        src={setURL(imgTemp.data.attributes.url)}
                        class="md:w-[150px] w-[100px] object-contain"
                        alt={imgTemp.data.attributes.alternativeText}
                        title={imgTemp.data.attributes.caption}
                    />
                </div>
                <div class="flex flex-col items-center justify-center rounded-full md:h-[150px] md:w-[150px] h-[100px] w-[100px] bg-white p-5">
                    <img
                        src={setURL(imgTemp.data.attributes.url)}
                        class="md:w-[150px] w-[100px] object-contain"
                        alt={imgTemp.data.attributes.alternativeText}
                        title={imgTemp.data.attributes.caption}
                    />
                </div>
                </div>
            </div>
        </Paragraph>
       
</div>
</Layout>