---
import Layout from "../../layouts/Layout.astro";
import BlurryContainer from "../../components/global/BlurryContainer.astro";
import Markdown from "../../components/global/Markdown.astro";
import { getPageData } from "../../services/graphql";
import { joinQuery } from "../../data/queries/JoinQuery";
import { setURL } from "../../data/constants";

const data = await getPageData(joinQuery());

const pageData = data.pageData["data"]["pagePreLaunch"]["data"]["attributes"];
const seoData = pageData["SEO"];
const layoutData = data.layoutData;

const titles = ["Affordable Internet", "Its all for"];
const logo = {
    url: "/image/uwifi_stroke.png",
    alternativeText: "alternative text",
};
const description = `
### Join the waitlist.
Enter your email to secure your spot and get notified when we launch.
`;
const bento = {
    url: "/image/uwifi_stroke.png",
    alternativeText: "alternative text",
};
const FormDescription =
    "By using this form you agree with the storage and handling of your data by this website.";
---

<Layout
    seoData={seoData}
    dataLayout={layoutData}
    showNavBar={false}
    showFooter={false}
>
    <div
        class="flex md:flex-row flex-col text-white p-10 place-content-center items-center overflow-y-auto min-h-screen gap-10 join-background"
    >
        <section class="flex flex-col items-center justify-center gap-0 z-10">
            <h1
                class="font-display md:text-[40px] text-[30px] text-center font-normal tracking-tight"
            >
                {pageData["Headings"][0]["Heading"]}
            </h1>
            <div class="flex flex-wrap items-center justify-center gap-5">
                <h2
                    class="font-display md:text-[75px] text-[40px] text-center font-semibold tracking-tighter"
                >
                    {pageData["Headings"][1]["Heading"]}
                </h2>
                <img
                    src={setURL(pageData['Logo']['data']['attributes']['url'])}
                    class="transition-opacity duration-2000 ease-in-out opacity-100"
                    alt={pageData['Logo']['data']['attributes']['alternativeText']}
                    width={100}
                />
            </div>
            <!-- <div
                set:html={parse(description)}
                class={`flex list-outside flex-col gap-3 text-primary-blue text-center [&>*>strong]:text-sky-500 [&>*>a]:text-secondary-red [&>h1]:text-[36px] [&>h1]:font-[600] [&>h1]:text-[#50d71e]  [&>h2]:text-[32px] [&>h3]:text-[26px] [&>ul]:flex [&>ul]:flex-col [&>ul]:gap-3`}
            /> -->
            <Markdown content={pageData['Description']} textAlign="text-center" />
            <BlurryContainer>
                <form
                    id="form_join"
                    method="post"
                    action="/api/insert/Subscribers"
                    class="flex flex-col gap-5"
                >
                    <input
                        class="grow rounded-full w-full p-2 text-gray-400"
                        type="email"
                        id="email"
                        name="email"
                        required
                        placeholder={pageData['RegisterForm']['Inputs'][0]['Placeholder']}
                    />

                    <input
                        class="grow rounded-full w-full p-2 text-gray-400"
                        type="text"
                        id="zipcode"
                        name="zipcode"
                        required
                        minlength="5"
                        maxlength="10"
                        placeholder={pageData['RegisterForm']['Inputs'][1]['Placeholder']}
                    />

                    {pageData['RegisterForm']['Description']}
                    <button
                        type="submit"
                        class="w-full rounded-full bg-gradient-to-r from-[#00c207] to-[#08964a] p-2"
                        >{pageData['RegisterForm']['Button']['Text']}</button
                    >
                </form>
            </BlurryContainer>
        </section>
        <div class="text-white flex flex-row items-center z-10">
            <img
                src={setURL(pageData['Media']['data']['attributes']['url'])}
                class="transition-opacity duration-2000 ease-in-out opacity-100"
                alt={pageData['Media']['data']['attributes']['alternativeText']}
                width={300}
            />
        </div>
    </div>
</Layout>

<style>
    @keyframes jumbo {
        from {
            background-position:
                50% 50%,
                50% 50%;
        }
        to {
            background-position:
                350% 50%,
                350% 50%;
        }
    }

    .join-background {
        background-image: repeating-linear-gradient(
                150deg,
                #000 18%,
                #000 17%,
                transparent 18%,
                transparent 18%,
                #000 14%
            ),
            repeating-linear-gradient(
                100deg,
                #00c207 10%,
                #00c207 10%,
                #7c47dd 20%,
                #2e74de 25%,
                #00c207 30%
            );
        background-size: 300%, 200%;
        background-position:
            50% 50%,
            50% 50%;
        z-index: 0 !important;
    }

    .join-background::after {
        content: "";
        z-index: 0 !important;
        position: absolute;
        inset: 0;
        background-image: repeating-linear-gradient(
                100deg,
                #000 0%,
                #000 7%,
                transparent 10%,
                transparent 12%,
                #000 16%
            ),
            repeating-linear-gradient(
                100deg,
                #00c207 10%,
                #00c207 15%,
                #7c47dd 20%,
                #2e74de 25%,
                #00c207 30%
            );
        background-size: 350%, 100%;
        animation: jumbo 60s linear infinite;
        filter: blur(60px) opacity(40%) saturate(200%);
        mask: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
    }
</style>
