---
import FilaImagenTexto from "../../index/FilaImagenTexto.astro";
import { parse } from "marked";
import {strapiURL} from '../../../services/graphql.ts';
interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;

/* create a variable string name markdowntext with markdown text: "U-wifi Mobile App."   Mobile word shuld be color red and bold    */

/* const markdowntext = "<span style='color: var(--tertiary-text-color)'> U-wifi </span> Mobile App."; */
const AppParagraphs = strapiData.pageData.data.pageHiw.data.attributes.AppParagraphs;
console.log(AppParagraphs);

---

<section id="app">
    <span class="green-ball-blured"></span>
    <span class="multi-ball-blured"></span>
    <span class="purple-ball-blured"></span>
    <div>
        <div class="contenedor">
            <div class="title">

        <!--         <p set:html={parse(markdowntext)} class="text-red text-lg"></p> -->

            <span class="text-tertiaryTextColor">U-wifi </span>Mobile App
            </div>
        </div>
        <div class="contenedor">
            <div class="subtitle">
                Take control of your home internet with one <span class="text-secondaryColor">simple app.</span>
            </div>
        </div>
    </div>


    <FilaImagenTexto 
    image={`${strapiURL}${AppParagraphs[0].Media.data.attributes.url}`}
    title={AppParagraphs[0].Headings[0].Heading}
    subtitle={AppParagraphs[0].Textblock} 
    flex="row"/>

    <FilaImagenTexto 
    image={`${strapiURL}${AppParagraphs[1].Media.data.attributes.url}`}
    title={AppParagraphs[1].Headings[0].Heading}
    subtitle={AppParagraphs[1].Textblock}
    flex="row-reverse"/>

    <FilaImagenTexto 
    image={`${strapiURL}${AppParagraphs[2].Media.data.attributes.url}`}
    title={AppParagraphs[2].Headings[0].Heading}
    subtitle={AppParagraphs[2].Textblock}
    flex="row"/>

    <FilaImagenTexto 
    image={`${strapiURL}${AppParagraphs[3].Media.data.attributes.url}`}
    title={AppParagraphs[3].Headings[0].Heading}
    subtitle={AppParagraphs[3].Textblock}
    flex="row-reverse"/>

    <FilaImagenTexto 
    image={`${strapiURL}${AppParagraphs[4].Media.data.attributes.url}`}
    title={AppParagraphs[4].Headings[0].Heading}
    subtitle={AppParagraphs[4].Textblock}
    flex="row"/>

    <div>

</section>


<style>
    .colorWord{
        color: red;
    }
    .green-ball-blured{
    top: 20%;
	left: 70%;
	position: absolute;
    width: clamp(200px, 50vw, 600px);
	height: clamp(200px, 50vw, 600px);
	border-radius: 100%;
    background: #0a5702;
	filter: blur(150px);
	z-index: -1;
	}
    .multi-ball-blured{
	position: absolute;
    top: 70%;
	left: 0%;
    width: clamp(200px, 50vw, 700px);
	height: clamp(200px, 50vw, 700px);
	border-radius: 100%;
    rotate: 90deg;
    background: linear-gradient(180deg, rgba(3, 251, 117, 0.50) 0%, rgba(6, 255, 240, 0.50) 100%);
	filter: blur(150px);
	z-index: -1;
	}
    .purple-ball-blured{
	position: absolute;
    top: 80%;
	left: -10%;
    width: clamp(200px, 50vw, 600px);
	height: clamp(200px, 50vw, 600px);
	border-radius: 100%;
    rotate: 90deg;
    background: linear-gradient(180deg, rgba(87, 70, 229, 0.50) 0%, rgba(135, 67, 229, 0.50) 52.6%, rgba(0, 198, 55, 0.50) 100%);
	filter: blur(70px);
	z-index: -1;
	}

      section{
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: clamp(0px, 10vw, 100px);
        gap:20px;
    }
    	.contenedor{
		display: flex;
		flex-direction: row;
		width: 100%;
		text-wrap: pretty;
	}
	.title{
	
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 80px);
    font-weight: 400;
    text-wrap: balance;
    }
    .subtitle{
    color: var(--primary-text-color);
    font-size: clamp(1.5rem, 5vw, 60px);
    font-weight: 600;
    text-wrap: balance;
    font-family: var(--font-family-secondary);
    text-warp: balance;
    }
    @media (max-width: 768px) {
        .title, .subtitle{
            text-align: center;
        }
        .contenedor{
        justify-content: center;
    }
}



</style>