---
import BotonFlecha from "../../global/BotonFlecha.astro";
import Baner5GWifi from "../Baner5GWifi.astro";
import Markdown from "../../global/Markdown.astro";
import Paragraph from "../../global/Paragraph.astro";
import { setURL } from "../../../data/constants";

interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;


const dataPage = strapiData.pageData.data.pageHiw.data.attributes;
const baner = dataPage.Banner;
const internetPar = dataPage.InternetParagraph;

---
<section  id="5g" >
    <!-- <Baner5GWifi title={baner.Title} description={baner.Content} imageUrl={baner.Icon.data.attributes.url}/> -->
    <div class="flex md:flex-row flex-col">
        <div class="window-box flex flex-col justify-between items-end bg-blue-400/20 border border-blue-400/50 m-10 p-5 rounded-[20px] transform">
            <div >
                <Markdown content={baner.Title} textAlign="text-center"></Markdown>
                <Markdown content={baner.Content} textAlign="text-center"></Markdown>
            </div>

            <img src={setURL(baner.Icon.data.attributes.url)} width="200px">
        </div>

        <div>
            <Paragraph textBlock={dataPage['InternetParagraph']['Textblock']} removeHorMargin={true}/>
        </div>
    </div>

    <Paragraph textBlock={dataPage['GatewayParagraph']['Textblock']}/>

    <div class="main-container">
        
  
       

    </div>
</section>

<style>
    .window-box{
        -webkit-transform: perspective(1200px) rotateY(20deg);
    }
</style>
