---
import { setURL } from "../../../data/constants";
import BlurryBall from "../../global/BlurryBall.astro";
import BotonFlecha from "../../global/BotonFlecha.astro";
import ButtonList from "../../global/ButtonList.astro";
import Paragraph from "../../global/Paragraph.astro";
import Steps from "../Steps.astro";


interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;
const pageData = strapiData.pageData.data.pageHiw.data.attributes;
const StepsTitles = pageData.StepsTitles;
const StepsData = pageData.Steps;
const MediaData = pageData.StepsMedia.data.attributes;
const ButtonsData = pageData.StepsButtons;


---


<section id="howit" class="w-full flex flex-col items-center justify-center">
   <Paragraph textBlock="" headings={StepsTitles} centerHeadings={false} centerContent={true}/>

    <div class="flex flex-col md:flex-row items-center justify-center max-w-[1400px] px-10 relative">
        <BlurryBall position="top-[-200px] end-[150px]" background='var(--secondary-color)' size="400px"/>
        <div>
            {StepsData.map((Data:any, Index:any) => (
                <Steps imageUrl={`${setURL(Data.Icon.data.attributes.url)}`} step={Index+1} description={Data.Content} />
            ))}
        </div>


        <div class="flex flex-col items-center" >
            <img alt={MediaData.alternativeText} class="p-10" src={`${setURL(MediaData.url)}`} >
          <ButtonList buttons={ButtonsData}/>         
        </div>
    </div>


</section>
