---
import { setURL } from "../../../data/constants";
import Paragraph from "../../global/Paragraph.astro";
import ShapeBackground from "../../global/ShapeBackground.astro";
interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;

const AppParagraphs = strapiData.pageData.data.pageHiw.data.attributes.AppParagraphs;
---

<section id="">
    {AppParagraphs.map((paragraph: any, index: number) => (

        <Paragraph textBlock={paragraph.Textblock} headings={paragraph.Headings} centerHeadings={false} textAtLeft={index%2 ? true:false} >
        <div class="relative flex items-center justify-center">
            <img
                class="absolute h-[450px] p-8 object-contain"
                src={setURL(paragraph.Media.data.attributes.url)}
                alt={paragraph.Media.data.attributes.alternativeText}
                title={paragraph.Media.data.attributes.caption}
            />
            <ShapeBackground  gradientId={`gradient-hiw-${index}`}
 tailToLeft={index%2 ? true : false} startColor={index%2 ? 'var(--primary-color)' : 'var(--secondary-color)'} endColor="transparent"/>
        </div>
        </Paragraph>

      ))}

    <div>

</section>
