---
import { getPageData } from "../../../../services/graphql";
import {LocationPagesQuery} from "../../../../data/queries/LocationPageQuery";
import { getLangFromUrl } from "../../../../data/constants";

const lang = getLangFromUrl(Astro.url);

const data = await getPageData(LocationPagesQuery(lang), lang);
const pageData:Array<any> = data.pageData['data']['locations']['data'];


const {slug} = Astro.params;

const page = pageData.find((page)=>page['attributes']['Slug'] === slug);

console.log(page);

if(!page) return Astro.redirect("/404");

const {Name, ShortDescription, Introduction} = page['attributes'];
---

<h1>
    {Name}
</h1>
<h2>
    {ShortDescription}
</h2>
<h3>
    {Introduction}
</h3>
