---
import TarjetaPaqueteBasico from '../TarjetaPaqueteBasico.astro';
import TarjetaPaqueteEspecialV2 from '../TarjetaPaqueteEspecialV2.astro';
/* STRAPI */
let tarjetas = [
  { 
    precio: '19', 
    modelo: 'Starter', 
    description: 'Unleash the power of automation.', 
    lista: [
      { icono: 'image/check.svg', texto: 'Multi-step Zaps' },
      { icono: 'image/check.svg', texto: '3 Premium Apps' },
      { icono: 'image/check.svg', texto: '2 Users team' },
      
    ]
  },
  { 
    precio: '30', 
    modelo: 'Professional', 
    description: 'Advanced tools to take your work to the next level.', 
    lista: [
	{ icono: 'image/check.svg', texto: 'Multi-step Zaps' },
	{ icono: 'image/check.svg', texto: 'Unlimited Premium ' },
	{ icono: 'image/check.svg', texto: '50 Users team' },
	{ icono: 'image/check.svg', texto: 'Shared Workspace' },
  
    ]
  },
];
let listas = [
  { icono: 'image/checkwhite.svg', texto: '5G Wi-Fi Gateway device included' },
  { icono: 'image/checkwhite.svg', texto: 'Netflix™ ON USApps' },
  { icono: 'image/checkwhite.svg', texto: 'Apple TV+ ON US' },
  { icono: 'image/checkwhite.svg', texto: '5G Speeds' },
  { icono: 'image/checkwhite.svg', texto: 'Mexico and Canada no extra fees' },
];
---



<section>
 <!--    {tarjetas.map((tarjeta) => (
        <TarjetaPaqueteBasico 
          precio={tarjeta.precio} 
          modelo={tarjeta.modelo} 
          description={tarjeta.description} 
          lista={tarjeta.lista} 
        />
      ))} -->
<TarjetaPaqueteEspecialV2 precio="30" modelo="Get reliable 5G home Internet service" description="Only  $30/mo." lista={listas}/>
<TarjetaPaqueteEspecialV2 precio="30" modelo="Get reliable 5G home Internet service" description="The best value for your money." lista={listas}/>
</section>


<style>
  section {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	align-items: center;
	align-self: center;
	padding-left: 5rem;
	padding-right: 5rem;
	
	
	height: 75vh;
	width: 80vw;
  gap:20px;

  }
</style>