---
import { setURL } from "../../../data/constants";
import BotonFlecha from "../../global/BotonFlecha.astro";
interface Props{
    strapiData: any;
}
const{ strapiData } = Astro.props;

const HowToParagraph = strapiData.pageData.data.pageSelfServ.data.attributes.HowToParagraph;
const Headings = HowToParagraph.Headings[0].Heading;
const Textblock = HowToParagraph.Textblock;
const Buttons = HowToParagraph.Buttons;

const MediaImage = HowToParagraph.Media.data.attributes.url;

const imageurl = `url(${setURL(MediaImage)})`;

---


<section id="WatchHowToSeccion">

		<div class="contenedor" style={`--image: ${imageurl};`}>
			
            <div class="columnaIzquierda">
				<p class="title ">
					{Headings}
				</p>
                <p class="description">
                    {Textblock}
                </p>

				
				<div class="row-buttons">
                    {
                        Buttons.map((items:any) => (
                <BotonFlecha texto={items.Text} link={items.Link} showIcon={false} paddingleft="20px" paddingright="20px" borderColor="transparent" borderColorHover="transparent" backgroundColor="var(--primary-buttom-color)" fontweight="500" iconColorHover="var(--tertiary-color)"/>
			
				))
                    }
                        

            </div>

	
		</div>
	
	
</section>


<style>

section
	{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: clamp(0px, 5vw, 100px);
		padding-right: clamp(0px, 5vw, 100px);
		margin-bottom: 100px;
	}
	.botones{
        position: relative;
        z-index: 2;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 16px;

	
	}
    .columnaIzquierda
    {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        padding: clamp(16px, 5vw, 20px);
		gap: clamp(16px, 5vw, 40px);
    }


	img{
		width: 50%;
		height: 100%;
		object-fit: contain;
	}

	.contenedor
	{ 
        position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 25px;
		height: 100%;
        background-image: var(--image);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 2;
        padding-left: clamp(0px, 5vw, 100px);
	}
    .contenedor::before
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6); 
        border-radius: 25px;
        z-index: 1;

    }
	.row-buttons
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        width: 100%;
        gap: 20px;

       
    }

	.title{
   
			color: var(--primary-text-color);
			font-size: clamp(20px, 4vw, 50px);
			font-weight: 600;
			text-align: left;
			text-wrap: balance;
			text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
			height: 100%;
			
			}

    .description{
    
        color: var(--primary-text-color);
        font-size: clamp(18px, 3vw, 30px);
        font-weight: 500;
        text-align: left;
        text-wrap: pretty;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        margin-top: 16px;
		height: 100%;
    }





	@media (max-width: 900px) 
	{
		.contenedor
		{
			flex-direction: column-reverse;
			align-items: center;
			height: 100%;
			padding: 16px;
		}
		.botones{
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}
		.columnaIzquierda{
			align-items: center;
			text-align: center;
			padding: 16px;
			width: 100%;
		}
		.row-buttons
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        width: 100%;
        gap: 20px;

       
    }
		img{
		width: clamp(100px, 50vw, 200px);
		object-fit: contain;
		align-self: center;
		margin-right: 50px;
	}
	.title, .description{
		text-align: center;
		
	}
	}









</style>