---
interface Props {
	background?: string;
    size?: string;
	position?: string;
	blur?: string;
}

const {background="white", size="300px", blur="150px", position} = Astro.props;

---
<div
style={
	`
	--size: ${size};
	--filter: blur(${blur});
	-webkit-filter: blur(${blur});
	`
	} 
class={`absolute styling -z-10 rounded-full ${position} bg-${background}`}>
</div>



<style>
	.styling{
	width: var(--size);
	height: var(--size);
	max-width: 80vw;
	max-height: 80vw;
}
 </style>