---
interface Props {
	background?: string;
    size?: string;
	position?: string;
	blur?: string;
}

const {background="green", size="300px", blur="150px", position} = Astro.props;

---
<div
style={
	`
	--size: ${size};
	--background: ${background};
	--filter: blur(${blur});
	-webkit-filter: blur(${blur});
	`
	} 
class={`absolute styling -z-10 rounded-full ${position}`}>
</div>



<style>
	.styling{
	width: var(--size);
	height: var(--size);
	max-width: 80vw;
	max-height: 80vw;
	background: var(--background);
}
 </style>