---
interface Props {
	texto: string;
	link: string;
	backgroundColor?: string;
	borderColor?: string;
	borderColorHover?:string;
	borderWidth?: number;
	textColor?: string;
	textColorHover?: string;
	iconColor?: string;
	iconColorHover?: string;
	gradientColorLeft?: string;
	gradientColorCenter?: string;
	gradientColorRight?: string;
}

const { texto, link, backgroundColor="transparent", iconColor='#00c207', iconColorHover='#00c207', borderColor = '#00c207', borderColorHover ='#00c402',  borderWidth=3, textColor='#ffffff', textColorHover='#ffffff', gradientColorLeft='#2ed5de',gradientColorCenter='#2e74de', gradientColorRight='#d201d2'   } = Astro.props;
---
<a href={link}>
    <button class=`button-learn`
	style={
	`
	--background-color: ${backgroundColor};
	--text-color: ${textColor};
	--text-color-hover: ${textColorHover};
	--icon-color-hover: ${iconColor};
	--icon-color-hover: ${iconColorHover};
	--border-color: ${borderColor};
	--border-color-hover: ${borderColorHover};
	--border-width: ${borderWidth}px;
	--gradient-left: ${gradientColorLeft}; 
	--gradient-center: ${gradientColorCenter}; 
	--gradient-right: ${gradientColorRight};
	`
	}>{texto} 
	

	<svg class="icono inline-block" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="chevron-right 1">
		<path id="Vector" d="M11.6987 23.5705L19.4126 15.8566L11.6987 8.1427" stroke={iconColor} stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		</g>
	</svg>
		
</button>
</a>


<style>

.icono{
	stroke: var(--icon-color);
	transition: stroke 1s ease-in-out;
}
.icono:hover{
	stroke: var(--icon-color-hover);
	transition: stroke 1s ease-in-out;
}
  
.button-learn {
color:var(--text-color);
background-color: var(--background-color);
font-size: clamp(10px, 20vw, 24px);
font-weight: 200;
border-radius: 50px;
border: var(--border-width) solid;
border-color: var(--border-color);
padding: 12px;
transition: border 1s ease-in-out;
}
.button-learn:hover {
color: var(--text-color);
background-image: linear-gradient(to right, var(--gradient-left), var(--gradient-center), var(--gradient-right));
border-color: var(--border-color-hover);
transition: 1s ease-in-out;
}

.image {
width: clamp(0.5rem, 1vw, 85px);
height: clamp(0.5rem, 1vw, 85px)
}
@media (max-width: 768px) {
	.button-learn {
		font-size: clamp(12px, 20vw, 20px)
	}
		
	}
@media (max-width: 450px) {
	.button-learn {
		font-size: clamp(8px, 10vw, 16px);
	
	}
	.icono{
	display:none;
}
		
	}

</style>