---
import BotonFlecha from "./BotonFlecha.astro";

interface Props {
    direction?:string;
	buttonText1?: string;
	buttonText2?: string;
	buttonLink1?: string;
	buttonLink2?: string;
    fontweightL?: string;
    fontweightR?: string;
}
const{
    direction="row",
    buttonText1="BUY NOW",
    buttonText2="APPLY FOR FREE WIFI",
    buttonLink1="https://cb-luna.github.io/uwifi_map_services-build/#/",
    buttonLink2="https://cb-luna.github.io/uwifi_map_services_acp_build/",
    fontweightL="500", fontweightR="500"
}= Astro.props;
---

<div class="botones" style={`--direction: ${direction};`}>
    <BotonFlecha fontweight={fontweightL}   texto= {buttonText1} iconColor="var(--primary-text-color)"  link={buttonLink1}/>
    <p class="texto-or font-bold text-primaryTextColor "> OR </p>
    <BotonFlecha fontweight={fontweightR} backgroundColor="var(--primary-buttom-color)" iconColor="var(--primary-text-color)" texto={buttonText2} link={buttonLink2}/>

<style>
    .botones{
        display: flex;
        flex-direction: var(--direction);
        justify-content: center;
        align-items: center;
        gap: clamp(10px, 20vw, 20px);
       
    }
    .texto-or{
        font-size: clamp(1rem, 2vw, 1.5rem);
    }
    @media (max-width: 768px){
        .botones{
            flex-direction: column;
        }
    }
</style>