---
import Markdown from './Markdown.astro';
import BuyOrApplyFree from './BuyOrApplyFree.astro';
import { setURL } from '../../data/constants';

interface Props {
	headings?: any;
    logo?: any;
    logoIsInline?: boolean;
    textBlock: string;
    buttons?: any;
    backgroundColor?: string;
    centerContent?: boolean;
    textAtLeft? : boolean;
}

const {headings, logo, logoIsInline= true, textBlock, backgroundColor="transparent", centerContent=false, textAtLeft=true} = Astro.props;

---
<div class={`w-full flex place-content-center my-20 bg-${backgroundColor}`}>
    <div class={`flex ${textAtLeft ? "md:flex-row" : "md:flex-row-reverse"} flex flex-col items-center md:max-w-[1600px] md:mx-[5vw] px-3`}>

        <!-- DIV PARA TEXTO -->
        <div class={`${centerContent ? "" : "md:w-3/5"} flex flex-col gap-5`}>
        
            <!-- Sección de títulos -->
            <div class={`${centerContent ? "" : "md:justify-start"} flex flex-wrap  gap-x-4 items-center justify-center leading-none`}>
                {headings && headings.map((heading: any, index: number) => (
                    <div class={`flex ${logoIsInline ? "gap-x-4": "flex-col "} items-center`}>
                        <Markdown textAlign='text-center' content={heading.Heading.toString()}/>
                        {logo &&
                            index + 1 === headings.length  &&
                            <img
                                src={setURL(logo.data.attributes.url)}
                                class="h-[60px]"
                                alt={logo.data.attributes.alternativeText}
                            />
                        }
                    </div>
                ))}
            </div>
            
            <Markdown content={textBlock} classN="md:text-[1.5vw] md:pr-20 " textAlign={`${centerContent ? "text-center" : "md:text-justify text-center"}`}/>
            
            <div class={`flex md:justify-start justify-center ${centerContent ? "md:justify-center" : ""}`}>
                <BuyOrApplyFree/>
            </div>
        
        </div>
        
        {!centerContent ?  
         <div class=" flex flex-grow justify-center place-items-center">
            <slot/>
        </div>
        : ""
        }
       
    </div>
</div>


